__pycache__/
resources/Working-Folder/tmpCSV
resources/SSIS_ETL_StagingData/ErrorLog
resources/SSIS_ETL_StagingData/LogEvent.txt
src/snowflake/LogSnowPipe.log
src/snowflake/PutSSIS.sql
src/snowflake/ingest.log